/* include generated file by darkmode script */
@import "../../.cache/waybar/darkmode.css";

* {
  border: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: @base;
  /*background: transparent;*/
  color: @subtext0;
  transition-property: background-color;
  transition-duration: .5s;
}

/* If workspces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#workspaces {
  margin: 0;
}

#workspaces button {
  padding: 0;
  background-color: transparent;
  color: @overlay0;
  box-shadow: inset 0 -3px transparent;
  border: none;
  padding: 0 0.5rem;
}

#workspaces button.focused {
  color: @sapphire;
}
#workspaces button.urgent {
  color: @base;
  background-color: @red;
}
#workspaces button:hover {
  background: @crust;
  color: @mauve;
  box-shadow: inset 0 -1px @mantle;
}

#mode {
  color: @maroon;
}
#window {
  font-size: 16px;
}

#idle_inhibitor,
#pulseaudio,
#network,
#cpu,
#battery,
#clock,
#tray
{
  color: @overlay1;
  padding: 0 0.5rem;
}

#battery.charging {
  color: @green;
}
#battery.plugged {
  color: @green;
}
#battery.warning:not(.charging) {
  color: @yellow;
}
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#network.disconnected {
  color: @surface0;
  background-color: @red;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

tooltip {
  background: @base;
  border: 1px solid @overlay1;
  padding: 2rem;
}
tooltip label {
  color: @text;
}
